

.container-fluid *{
    box-sizing: border-box;
    /* outline: 1px solid black; */
}
.container-fluid{
    margin: 0;
}
.main-block {
  height: 100vh;
 }
 .main-row{
    height: 100px;
 }
.header {
  height: 5%;
}
.categories{
    height: 5%;
}
.content-block{
    height: 90%;
}

aside {
  height: 100vh;
  outline: 1px solid black;
  padding: 0;
  margin-left: 10px;
}
.svg-container{
  display: flex;
  align-items: center;
  width: fit-content;
  height: fit-content;
  display: flex;
  justify-content: center;
  padding: 0;
  padding: 7px;

  
}

.category-text{
  width: 70%;
  padding: 0;
  margin: 0;
  font-weight: 600;
  text-align: start;
}

.collapse-button-row{
  height: 5%;
  display: flex;
  align-items: center;
}
.collapse-button{
  border-radius: 50%;
  padding: 7px;
  width: fit-content;
  height: fit-content;
  display: flex;
  justify-content: center;

}
.home-row{
  height: 40px;
  width: 90%;
  display: flex;
  align-items: center;
  border-radius: 5px;
}
.home-row:hover, .shorts-row:hover, .subscriptions-row:hover, .you-row:hover, .your-channel-row:hover{
  background-color: #f2f2f2;
}
.collapse-button:hover{
  background-color: #f2f2f2
  ;
  }
