@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.container-fluid *{
    box-sizing: border-box;
    /* outline: 1px solid black; */
}
.container-fluid{
    margin: 0;
}
.container-fluid>*{
  font-family: "Roboto", sans-serif;
}

 .main-row{
  width: 100%;
 }
header {
  height: 5%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;

}
.categories{
    height: 5%;
    width: 100%;
    padding: 0 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 10px;


}
.content-block{
    height: 90%;
    align-content: start;
    margin-top: 0px;
}
.main-block{
  padding: 0;
  margin-left: 30px

}

aside {
  height: 100vh;
  padding: 0;
  margin-left: 12px;

  min-width: 240px;
  max-width: 240px !important;
  overflow-y:scroll;
  scrollbar-color: white white;
  scrollbar-width: thin;
  overflow-y: auto; /* Hide vertical scrollbar by default */
}
aside:hover {
  scrollbar-color:  #909090 white;


}
aside:-webkit-scrollbar{
  width: 1em;
  border: 1px solid red;
}
aside::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border: 1px solid red;

}
 
aside::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
  border: 1px solid red;

}
.svg-container{
  display: flex;
  align-items: center;
  width: fit-content;
  height: fit-content;
  display: flex;
  justify-content: center;
  padding: 0;
  padding: 7px;

  
}

.category-text{
  width: 70%;
  padding: 0;
  margin: 0;
  font-weight: 400;
  text-align: start;
  align-self: center;
  color: #0f0f0f;
  font-family: "Roboto" sans-serif;
  font-size: 14px;

  

}
.section-text{
  font-weight: 600;
  align-self: center;
}
.subscription-row{
  height: 40px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  justify-content: left;
  padding: 0px 10px;
}
.subscription-row>.image-container{
  width: 40px;
}
.sidebar-link-row{
  border-radius: 15px;
  height: 40px;
  display: flex;
  align-items: center;
}
.sidebar-link-row>.category-text{
  padding-left: 15px;
}
.image-container{
  height: 24px;
  width: 24px;  
  padding: 0;


}
.sidebar-avatar{
  height: 100%;
  width: 24px;
  border-radius: 50%;
  object-fit: cover;
}

.bottom-link-block{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 13px;
  font-weight: 500;
  color: #606060;
  padding-top: 12px;

  

}
.bottom-link{
  margin: 0px 5px 0px 0px;
  height: min-content;
  
}

.copyright{
  color: #909090;
  font-size: 12px;
  font-weight: 400;
  padding: 16px 0px;


}

.collapse-button{
  border-radius: 50%;
  padding: 7px;
  width: fit-content;
  height: fit-content;
  display: flex;
  justify-content: center;

}
.home-row{
  height: 40px;
  width: 90%;
  display: flex;
  align-items: center;
  align-self: center;
  border-radius: 5px;
}

.content-category-block{
  background-color: #f2f2f2;
  width: auto;
  height: fit-content;
  padding: 5px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  margin-right: 12px;
  font-weight: 500;
  font-size: 14px;


}
.search-bar-container{
  display: flex;
  height: 5vh;
  justify-content: space-between;
}
.input-form{
  display:flex;
  flex-direction:row;
  border: 1px solid rgb(204, 204, 204);

  border-radius: 20px;
  width: 90%;
  height: 40px;
  align-items: center;



}
.input-form>input{
  height: auto;
  width: 90%;
  margin-left: 5px;
  flex-grow:2;
  border: none;
  display: flex;
  border-radius: 10px;
  align-content: center;
  vertical-align: middle;
  align-items: center;

  padding-left: 10px;
}
.input-form>button{
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border: none;
  background-color: #f8f8f8;
  border-left: 1px solid rgb(204, 204, 204);

  
  height: 100%;
  width: 64px;
  display: flex;
  justify-content: center;
}

.input-form>input:focus {
  outline: none;
}

.mic-svg{
  background-color: #f2f2f2;
  border-radius: 50%;
}
.right-icons-container{
  display: flex;
  justify-content: right;
}
.left-icons-container{
  display: flex;
  align-items: center;
  padding-left: 22px;
}
.video-block{
  padding: 7px;
  max-width: 350px;
  height: fit-content;
  margin: 0; 
}
.video-data-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.thumbnail-container{
  width: 100%;
  height: 80%;
}
.thumbnail{
  object-fit: cover;
  width: 100%;
  height: 100%;  
  border-radius: 10px;
  aspect-ratio: 1.78;
}
.title-block{
  width: auto;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.video-title{
  font-weight: 500;
  padding-top: 10px;
  width: 100%;
}
.channel-name{
  height: auto;
  width: 100%;
  margin:0;
  color: #606060;
}
.video-stats{
  width: auto;
  color: #606060;
 
}
.sidebar-link-row:hover, .subscription-row:hover{
  background-color: #f2f2f2;
  cursor: pointer;
}
.right-icons-container>.svg-container:hover{
  border-radius: 50%;
  background-color: #e5e5e5;
}
.content-category-block:hover, .bottom-link:hover, .svg-container:hover{
  cursor: pointer;
}
.collapse-button:hover{
  background-color: #f2f2f2
  ;
  }
